<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bd1">
    <div class="create">
    <h2 class="c">Create new chat</h2>
    <form method="POST" action="/chats">
        <input placeholder="who are you?" name="from">
        <br>
        <br>
        <textarea name="message" rows="6" cols="50"> Write your message here..</textarea>
        <br>
        <br>
        <input placeholder="add reciever" name="to">
        <br>
        <br>
        <button>Create Chat</button>
    </form>
    </div>
</body>
</html>
